body, html {
    padding: 0;
    margin: 0;
    background-color: #0B1120;
}

.header {
    background-color: #0B1120;
    height: 50px;
    width: 50px;
    position: relative;
    left:50%;
}

.header > a {
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}


.cube {
    text-align: center;
    /*position: relative;*/
    display: inline-block;
    height: 160px;
    width: 180px;
    /*top: 250px;*/
    /*left: 500px;*/
    border: 1px solid;
    border-radius: 10px;
    border-color: rgb(0, 9, 122);
    margin: 12px;
    color: rgb(148 163 184);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    transition: all 1s ease;
    font-family: 'Comfortaa', cursive;
    transition-property: all;
    font-size: 16px;
}

.cube:hover {
    transform: translateY(30%);
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.8);
}

.btn:hover {
    box-shadow: 0 0 0 2px rgba(255, 234, 0, 0.8);
    background-color: blueviolet;
}


.content {
    margin-top: 10px;
}

.btn {
    height: 35px;
    width: 153px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    /* background-color: rgba(255, 0, 0, 0); */
    cursor: pointer;
    background-color: rgb(56, 189, 248);
    transition-property: all;
    transition: 0.6s ease all;
}

/*@media screen and (max-width: 768px) {*/
/*    .cube {*/
/*        display: block;*/
/*        margin-bottom: 35px;*/
/*        width: 145px;*/
/*        height: 160px;*/
/*    }*/

/*    .cube > button {*/
/*        width: 130px;*/
/*    }*/
/*}*/